
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 全体 */
.outer-container {
  padding: 30px;
}

/* Main */
.container {
  display:grid;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border: 2px solid black; /* 四角の黒枠 */
}

/* 上側 */
.header {
  flex-grow: 1; /* 要素を伸ばして余白を埋める */
  display:grid;
  gap: 30px;
  border: 2px solid black; /* 四角の黒枠 */
  padding: 30px;
}

.header-iteml {
  border: 2px solid black; /* 四角の黒枠 */
  padding: 30px;
  text-align: left;
  height: 125px;
  width: 125px;
}
.header-itemr{
  flex-direction: column;/* 子要素を縦方向に並べる */
  flex-grow: 1; /* 要素を伸ばして余白を埋める */
}

.hedder-r_top{
  border: 2px solid black; /* 四角の黒枠 */
  padding: 30px;
  text-align: left;
}
.hedder-r_bottom{
  flex:1 ;
  flex-grow: 1; /* 要素を伸ばして余白を埋める */
  padding-top: 30px;
  display:grid;
  flex-direction: row;/* 子要素を横方向に並べる */
  gap: 30px;
}
.hed-r-bot-item{
  flex-grow: 1; /* 要素を伸ばして余白を埋める */
  border: 2px solid black; /* 四角の黒枠 */
  display:grid;
  padding: 30px;
}



/* メイン */
.main {
  justify-content: center;
  display:grid;
  gap: 30px;
}


.sidebar {
  flex:1 ;
  flex-direction: column;/* 子要素を縦方向に並べる */
  display:grid;
  gap: 30px;
}

.sidebar-top{
  border: 2px solid black; /* 四角の黒枠 */
  padding: 30px;
}
.sidebar-center{
  border: 2px solid black; /* 四角の黒枠 */
  padding: 30px;
}
.sidebar-bottom{
  justify-content: space-between; /* 子要素を両端に寄せる */
  display:grid;
  gap: 30px;
}
.sider-bot-item{
  flex:1 ;
  border: 2px solid black; /* 四角の黒枠 */
  display:grid;
  padding: 30px;
}
.main-right {
  flex: 1;
  display:grid;
  gap: 30px;
  border: 2px solid black; /* 四角の黒枠 */
  padding: 30px;
}