body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
}

#status {
  width: 100%;
  padding: 10px;
  margin-left: 50px;
}

#status p {
  margin: 5px 0;
  font-size: 16px;
}

#game-log-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

/* 左側: game-area */
#game-area {
  flex: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #333;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

/* 右側: log */
#log {
  flex: 3;
  border: 1px solid #333;
  margin: 10px;
  padding: 10px;
  overflow-y: none;
}
#log h3 {
  margin-top: 0;
}

#log-content {
  max-height: 100%;
  overflow-y: scroll;
  white-space: pre-line;
  font-size: 14px;
}

/* Hero image */
#hero img {
  width: 150px;
  height: auto;
  margin-top: 20px;
}

#controls {
  width: 100%;
  margin-bottom: 20px;
  flex-direction: column; /* 縦並びに対応 */
  gap: 20px; /* ボタン間の間隔 */
}

#direction_ {
  position: absolute;
  left: 40px; /* 左端からの距離 */
  bottom: 20px; /* 下端からの距離 */
  display: flex;
  flex-direction: column; /* 必要に応じて調整 */
}

#direction {
  display: flex;
  position: relative;
  width: 150px; /* 十字方向全体の幅 */
  height: 150px; /* 十字方向全体の高さ */
  justify-content: center;
  align-items: center;
  margin: auto; /* 親要素の中央に配置 */
}

#direction div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 50px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute; /* 相対位置で配置 */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

#choice {
  display: flex;
  gap: 20px;
  transform: translateY(-50%);
  align-items: left;
}

#choice button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #333;
  cursor: pointer;
  height: 75px;
  width: 200px;
}

#choice button:hover {
  background-color: #45a049;
}
#direction div:hover {
  text-shadow: none;
}
#up {
  top: 0;
}

#down {
  bottom: 0;
}

#left {
  left: 0;
}

#right {
  right: 0;
}
